---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span class="tag">{label}</span>

<style>
  .tag {
    font-size: 1rem;
    color: var(--color-surface);
    opacity: 0.9;
    background: var(--color-accent);
    padding: 3px 8px;
    border-radius: 999px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>
